@* NavMenu.razor *@

<div class="top-row ps-3">
    <div class="container-fluid">
        <a class="d-flex align-items-center" href="">
            <img src="garys_logo.png" alt="Logo"
                 style="height: 40px; margin-right: 0.5rem; padding-top: 10px;" />

        </a>

    </div>
</div>

